// Proxima Nova Rg
@import 'etc/my-fonts/Proxima-Nova-Rg400';
@import 'etc/my-fonts/Proxima-Nova-Rg700';
// Proxima Nova
@import 'etc/my-fonts/Proxima-Nova300';
@import 'etc/my-fonts/Proxima-Nova400';
@import 'etc/my-fonts/Proxima-Nova600';
@import 'etc/my-fonts/Proxima-Nova700';
// HelveticaNeueCyr
@import 'etc/my-fonts/Helvetica-Neue-Cyr300';
@import 'etc/my-fonts/Helvetica-Neue-Cyr400';
@import 'etc/my-fonts/Helvetica-Neue-Cyr500';
@import 'etc/my-fonts/Helvetica-Neue-Cyr700';
// FuturisXC
@import 'etc/my-fonts/FuturisXC400';
// FuturisXCondC
@import 'etc/my-fonts/FuturisXCondC400';
// FuturaDemiC
@import 'etc/my-fonts/FuturaDemiC400';
// LetoSans
@import 'etc/my-fonts/LetoSans400';
@import 'etc/my-fonts/LetoSans700';
// LetoSansCondensed
@import 'etc/my-fonts/LetoSansCondensed400';
// SFUIDisplay
@import 'etc/my-fonts/SFUIDisplay100';
@import 'etc/my-fonts/SFUIDisplay200';
@import 'etc/my-fonts/SFUIDisplay300';
@import 'etc/my-fonts/SFUIDisplay400';
@import 'etc/my-fonts/SFUIDisplay500';
@import 'etc/my-fonts/SFUIDisplay600';
@import 'etc/my-fonts/SFUIDisplay700';
@import 'etc/my-fonts/SFUIDisplay800';
@import 'etc/my-fonts/SFUIDisplay900';
// Circe
@import 'etc/my-fonts/Circe400';
@import 'etc/my-fonts/Circe700';
@import 'etc/my-fonts/Circe800';
// Roboto
@import 'etc/my-fonts/Roboto300';
@import 'etc/my-fonts/Roboto400';
@import 'etc/my-fonts/Roboto500';
@import 'etc/my-fonts/Roboto700';
// MyriadPro
@import 'etc/my-fonts/MyriadPro400';
@import 'etc/my-fonts/MyriadPro700';
// RotondaC
@import 'etc/my-fonts/RotondaC400';
@import 'etc/my-fonts/RotondaC700';
// Medieval
@import 'etc/my-fonts/Medieval700';
// Gill-Sans-Nova
@import 'etc/my-fonts/Gill-Sans-Nova300';
@import 'etc/my-fonts/Gill-Sans-Nova400';
@import 'etc/my-fonts/Gill-Sans-Nova500';
@import 'etc/my-fonts/Gill-Sans-Nova600';
@import 'etc/my-fonts/Gill-Sans-Nova900';
// Open Sans
@import 'etc/my-fonts/Open-Sans300';
@import 'etc/my-fonts/Open-Sans400';
@import 'etc/my-fonts/Open-Sans600';
@import 'etc/my-fonts/Open-Sans800';
// Lato
@import 'etc/my-fonts/Lato300';
@import 'etc/my-fonts/Lato400';
@import 'etc/my-fonts/Lato500';
@import 'etc/my-fonts/Lato600';
@import 'etc/my-fonts/Lato700';
@import 'etc/my-fonts/Lato900';
// Muller
@import 'etc/my-fonts/Muller300';
@import 'etc/my-fonts/Muller400';
@import 'etc/my-fonts/Muller500';
@import 'etc/my-fonts/Muller700';
@import 'etc/my-fonts/Muller900';
// Raleway
@import 'etc/my-fonts/Raleway400';
@import 'etc/my-fonts/Raleway500';
@import 'etc/my-fonts/Raleway600';
@import 'etc/my-fonts/Raleway700';
@import 'etc/my-fonts/Raleway800';
@import 'etc/my-fonts/Raleway900';
// Gotham Pro
@import 'etc/my-fonts/Gotham-Pro400';
// Pollock2C
@import 'etc/my-fonts/Pollock2C-400';
// Gilroy
@import 'etc/my-fonts/Gilroy600';
@import 'etc/my-fonts/Gilroy700';
@import 'etc/my-fonts/Gilroy800.scss';

body {
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  font-family: sans-serif;
  color: #000000;
  font-style: normal;
}
