.main-nav {

  &__list {
    @include reset-list;
    display: flex;
    justify-content: space-between;
    margin-bottom: -4px;
  }

  &__list-border {
    height: 4px;
    background-color: #F3F2F2;
  }

  &__link {
    position: relative;
    display: block;
    padding-bottom: 19px;
    text-decoration: none;

    &::before {
      content: '';

      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 4px;
      margin: auto;
      background-color: transparent;
    }

    &:hover {

      .main-nav__item-title {
        color: #0163BE;
      }
    }

    &--active {

      .main-nav__item-title {
        color: #0163BE;
      }

      &::before {
        background-color: #0163BE;
      }
    }
  }

  &__item-title {
    @include font(HelveticaNeueCyr, 16px, 400, #536C7D, span);
  }
}

@media (max-width: 1160px) {
  .main-nav__list {
    margin-bottom: 0;
    flex-direction: column;
  }

  .main-nav__link::before {
    display: none;
  }

  .main-nav__list-border {
    display: none;
  }
}
