.page-content {

  &__description-top {
    margin-bottom: 42px;
  }

  &__description-bottom {
    margin-bottom: 60px;
  }

  &__order-info {
    margin-bottom: 60px;
  }

  &__examination {
    margin-bottom: 30px;
  }

  &__form {
    margin-bottom: 42px;
  }

  &__fillial {
    margin-bottom: 45px;
  }

  &__services {
    margin-bottom: 57px;
  }

  &__references {
    margin-bottom: 65px;
  }
}

@media (max-width: 500px) {
  .page-content__description-top {
    margin-bottom: 30px;
  }

  .page-content__description-bottom {
    margin-bottom: 38px;
  }

  .page-content__order-info {
    margin-bottom: 35px;
  }

  .page-content__form {
    margin-bottom: 30px;
  }

  .page-content__fillial {
    margin-bottom: 30px;
  }

  .page-content__services {
    margin-bottom: 24px;
  }

  .page-content__references {
    margin-bottom: 35px;
  }
}
