@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Gilroy-SemiBold'), local('Gilroy-SemiBold'),
       url('../fonts/Gilroy/Gilroy600/Gilroy-SemiBold.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/Gilroy/Gilroy600/Gilroy-SemiBold.woff') format('woff') /* Modern Browsers */
}