@font-face {
  font-family: 'HelveticaNeueCyr';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('HelveticaNeueCyr-Medium'), local('HelveticaNeueCyr-Medium'),
       url('../fonts/Helvetica-Neue-Cyr/Helvetica-Neue-Cyr500/HelveticaNeueCyr-Medium.woff2') format('woff2'),
       url('../fonts/Helvetica-Neue-Cyr/Helvetica-Neue-Cyr500/HelveticaNeueCyr-Medium.woff') format('woff')
}