@font-face {
  font-family: 'HelveticaNeueCyr';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('HelveticaNeueCyr-Light'), local('HelveticaNeueCyr-Light'),
       url('../fonts/Helvetica-Neue-Cyr/Helvetica-Neue-Cyr300/HelveticaNeueCyr-Light.woff2') format('woff2'),
       url('../fonts/Helvetica-Neue-Cyr/Helvetica-Neue-Cyr300/HelveticaNeueCyr-Light.woff') format('woff')
}