@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Lato-Regular'), local('Lato-Regular'),
      url('../fonts/Lato/Lato400/Lato-Regular.woff2') format('woff2'), /* Super Modern Browsers */
      url('../fonts/Lato/Lato400/Lato-Regular.woff') format('woff') /* Modern Browsers */
}