@font-face {
  font-family: 'Muller';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('MullerLight'), local('MullerLight'),
       url('../fonts/Muller/Muller300/MullerLight.woff') format('woff') /* Modern Browsers */
}