@font-face {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('ProximaNova-Regular'), local('ProximaNova-Regular'),
       url('../fonts/Proxima-Nova/Proxima-Nova400/ProximaNova-Regular.woff2') format('woff2'),
       url('../fonts/Proxima-Nova/Proxima-Nova400/ProximaNova-Regular.woff') format('woff')
}