@font-face {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local('Proximanova-black'), local('Proximanova-black'),
  url('../fonts/Proxima-Nova/Proxima-Nova800/Proximanova-black.woff2') format('woff2'),
  url('../fonts/Proxima-Nova/Proxima-Nova800/Proximanova-black.woff') format('woff')
}
