@font-face {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('ProximaNova-Light'), local('ProximaNova-Light'),
       url('../fonts/Proxima-Nova/Proxima-Nova300/ProximaNova-Light.woff2') format('woff2'),
       url('../fonts/Proxima-Nova/Proxima-Nova300/ProximaNova-Light.woff') format('woff')
}