@font-face {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('ProximaNova-Semibold'), local('ProximaNova-Semibold'),
       url('../fonts/Proxima-Nova/Proxima-Nova600/ProximaNova-Semibold.woff2') format('woff2'),
       url('../fonts/Proxima-Nova/Proxima-Nova600/ProximaNova-Semibold.woff') format('woff')
}